header{ 
background-image: url(../img/img-home.png);  
height: 100%; 
background-size: cover; 
display: table; 
width: 100%;
}  
/*navegacion*/
.navbar-custom.is-fixed { 
position: fixed; 
background-color: #F0FBFD;  
transition:0.3s all ease-in-out;  
height: 69px
}   
.navbar-toggle{ 
float: left; 
}
.header-scroll{ 
opacity: 1; 
}   
.navbar-default .navbar-toggle{ 
border-color: transparent; 
}

/*termina aqui*/
.botom{ 
margin-top: -5;   
}  
button.btn.btn-default{ 
background-color: #9E9D9D;  
border-radius: 17px;
} 
button.btn.btn-default-perfil{ 
background-color: orange;  
width: 26%; 
color: #fff; 
font-size: 10px; 
font-size: 17px;
}
.navbar-default{ 
background-color: transparent; 
border-color: transparent; 
} 
.fondo { 
display: table-cell; 
vertical-align: middle;  
text-align: right;
 h3{  
 	text-align: center;
 	padding: 16px 113px;  
 	line-height: 1.3; 
 	color: #58C6E7;
 } 
 h4{  
 	text-align: center;
 	padding: 0px 126px 30px; 
 	line-height: 1.3; 
 	color: #9E9D9D;
 }
}  
   
   button.btn.btn-primary.btn-lg.hidden-xs{ 
   	background-color: #ff4016; 
   	border-color: #ff4016;  
    border-radius: -1%;
   }

@media screen and (max-width :480px){
  .fondo h3 {
    padding: 23px 0px;
  } 
  .fondo h4{ 
  	padding: 0px 0px 37px 
  }
} 
 
.flecha-home{ 
text-align: center; 
position: relative; 
bottom: -200px; 
 
} 
@media screen and (max-width :480px){
  header{ 
  	background-image: none; 
  } 
 } 
 img.hidden-lg.hidden-md{ 
 	width: 100%; 
 } 
 /*metodologia*/ 
 .frase{ 
 	color: #FF6A49; 
 }  
 h1.text-center{ 
 	padding: 58px 0px 48px 0px ; 
 	color: #58C6E7; 
 	letter-spacing: 1;  

 } 
 span.frase{ 
 	line-height: 2.4; 
 } 
 img.segunda-comilla{ 
 	position: relative; 
 	right: 250%; 
 	top: 63px; 
 } 
 img.pimera-comilla{ 
 	position: relative; 
 	left: 287px; 
 	top: 1px; 
 } 
 h3.text-center.mb-35.mt-0{ 
  color:#9E9D9D 
  ;}  
#metodologia{  
  .icono.hidden-xs.text-center{ 
    position: relative; 
    bottom: -38px; 
  } 
  img{ 
    border-radius: 50%; 
  }
}
  /*metodoligia circulo*/ 
  .circulo { 
    margin: 0 auto; 
    width: 374px; 
    height: 374px; 
    border-radius: 50%; 
    background-color: #FF6A49;  
    padding: 4px;
  } 
  .acontinuo{ 
    padding: 0px 100px; 
  }
.circulo2{ 
border-radius: 50%; 
border: 2px dashed #fff;  
height: 364px; 
width: 364px;
} 
.circulo2 h4{  
padding: 74px 10px;  
line-height: 1.5; 
color: #fff;
}
hr.linea1.hidden-xs{ 
transform:rotate(428deg); 
float: right; 
height: 291px; 
}
.evaluacion{ 
padding-top: 209px; 
} 
hr.linea3{ 
transform:rotate(470deg); 
float: left; 
height: 291px; 
} 
.preferencia{ 
padding-top: 209px; 
}  
hr.linea2{ 
transform:rotate(449deg); 
width: 240px; 
}
.analisis{ 
padding-top: 87px; 
} 
 
#metodologia button.btn.btn-custom{ 
border-radius: 30px; 
padding: 15px 64px; 
background-color:#2bb7e1;  
color: #fff; 
margin-top: 69px; 
border-color: #1da3cb; 
margin-bottom: 30px;
}
 /*acaba aqui metodologia*/   


 @media screen and (max-width :480px){
  .navbar-default{ 
  	background-color: aliceblue; 
  }   
   .circulo { 
    margin: 0 auto; 
    width: 0px; 
    height: 0px; 
    border-radius: 0px; 
    background-color: none;  
    padding: 0px;
  } 
  .acontinuo{ 
    padding: 0px 0px; 
  }
.circulo2{ 
border-radius: 0px; 
border: none;  
height: 0px; 
width: 0px;
} 
.circulo2 h4{  
padding: 0px;  
line-height: 0; 
color: none;
}
hr.linea1.hidden-xs{ 
transform:rotate(0); 
float: none; 
height: 0px; 
}
.evaluacion{ 
padding-top: 0px; 
} 
hr.linea3{ 
transform:rotate(0); 
float: none; 
height: 0px; 
} 
.preferencia{ 
padding-top: 0px; 
}  
hr.linea2{ 
transform:rotate(0); 
width: 94%; 
}
.analisis{ 
padding-top: 0px; 
} 
 }  

/*seccion empresa*/ 
#empresas{
  padding-top: 73px;
  padding-bottom: 80px;  
  background-color: beige;
  hr{
    border: 1px dashed red;
  }
  .icono{
      bottom: -115px; 
      position: relative;
  } 
  img{ 
    border-radius: 50%; 
  }
}
.clases{
  text-align: center;
  padding: 43px 117px;
  img{
      border-radius: 50%;
  }
  .btn-danger {
  margin-top: 58px;  
}       
}     
h2.blanco{ 
padding-top: 24px; 
} 
.row.titulo{ 
padding: 31px 0px 30px 
}

  
button.btn.btn-danger{
  color: #fff; 
  background-color: #FF6A49;  
  padding: 15px 41px;
  border-radius: 30px;
} 


/*quinta parte */
#educacion{
  background-color:rgb(118, 255, 118);
  padding-top: 73px;
  padding-bottom: 80px;
  hr{
    border: 1px dashed #fff;
  }
  .icono {
    bottom: -119px; 
    position: relative;
  } 
  img{ 
  border-radius: 50%; 
   } 
   button.btn.btn-danger{ 
    background-color: #78ff76; 
    border-color: #fff; 
    border: solid;
} 
}

/*sexta parte*/


#oportunidades{
  background: url(../img/img-oportunidades-24.png) no-repeat center center scroll;
height: 100%;
width: 100%;
display: table;
background-size: cover;
}
.white{
  background-color: #fff;
  
}
#oportunidades{
  .container{
    padding: 85px;
  } 
  ul{ 
    padding-left: 137px; 
  }  
  button.btn.btn-danger{ 
    position: absolute; 
    top: 182; 
    right: 146px;  
    border-color: #FF6A49;  
    background-color: #fff; 
    border:2px solid #FF6A49; 
    border-radius: -1px; 
    padding: 9px 41px; 
    color: #FF6A49;

  } 
  li{ 
    line-height: 2.5;  
    font-size: 17px;
  } 
  h1 {  
    padding:68px 0px 17px;
  }  
  .todos{ 
    text-align: center;  
    padding: 38px
  }
  button.btn.btn-custom{  
    background-color: gray; 
    color: #fff;
  }  
  .icono.hidden-xs.text-center{ 
    position: relative; 
    bottom: -122px; 
  }  
  img{ 
    border-radius: 50%; 
  }
} 
 
/*aqui termina*/
/*section parte el blog*/ 
#blog{ 
h1.gray{ 
  padding: 92px 0px 102px; 
  } 
  img{ 
    border-radius: 50%; 
    position: relative; 
    bottom: 42px; 
  }   
  .parrafo{ 
    text-align: left; 
    position:relative;  
    padding: 43px; 
    bottom: 24px;   
    line-height: 1.7; 

  } 
  .col-md-4{ 
    margin-bottom: 61px; 
  } 
   button.btn.btn-custom{ 
  padding: 15px 41px; 
  border-radius: 24px  ;
  background-color:#2bb7e1; 
  color: #fff;  
  margin: 20px;
 } 
 .icono.hidden-xs.text-center{ 
    position: relative; 
    bottom: -78px; 
  }  
  img{ 
    border-radius: 50%; 
  }
}
  

.caja{ 
  background-color: #9E9D9D; 
 }
.caja:hover{ 
background-color: #FF6A49; 
.parrafo{ 
color: #fff; 
 }  

} 
 

/*aqui termina blog*/  
 

/*comienza seccion contacto*/   
#contacto{ 
background-color: whitesmoke; 
h1.gray{ 
padding: 93px 0px 50px 0px;
 }   
 button.btn.btn-default-ct{ 
  float: right; 
  width: 37%;  
  background-color: gray; 
  color: #fff;
  } 
  .info{ 
    padding-top:24px; 
    float: left; 
    letter-spacing:3;  
    padding-bottom: 40px;
     } 
} 
 
input#pwd{ 
height: 14%; 
}
      
 #footer ul { 
      list-style: none; 
    } 
 #footer li{ 
      float: left; 
      bottom: 20px; 
      position: relative; 
    } 
  .twiter{ 
    padding: 0px 5px 0px 5px; 
  }
#footer{  
  background-color: #989898;
img{ 
border-radius: 50%; 
 }  
 p{ 
  float: right; 
padding-right: 23px;  
color: #fff;
}
}

 
 /*aqui termina contacto*/ 




@media screen and (max-width :480px){
  .fondo h3{
    padding:23px 0;
  }
  .fondo h4{
     padding: 0 0 37px;
  }
  .fondo{
  padding-top: 85px;
  } 
  #home{
    background: none;
  } 
  .clases{
    padding: 0;
  } 
  .acontinuo{ 
    padding: 0; 
  }
}

/*@media screen and (max-width :480px){
  #home{
    background: none;
  }
}
@media screen and (max-width :480px){
  .clases{
    padding: 0;
  }
} */

