header{ 
background-image: url(../img/img-home.png);  
height: 100%; 
background-size: cover; 
display: table; 
width: 100%;
}  
/*navegacion*/
.navbar-custom.is-fixed { 
position: fixed; 
background-color: #F0FBFD;  
transition:0.3s all ease-in-out;  
height: 69px
}   
.navbar-toggle{ 
float: left; 
}
.header-scroll{ 
opacity: 1; 
}   
.navbar-default .navbar-toggle{ 
border-color: transparent; 
} 
 



/*botom es*/ 
select.opciones{ 
  border-radius: 8px;
  padding: 7px 11px;
  background-color: #fff;
  border-color: gray;
  margin-top: 21px; 
  } 

/*termina aqui el es*/
/*termina aqui*/
.botom{ 
margin-top: -5;   
}  
 
button.btn.btn-default{ 
background-color: #9E9D9D;  
border-radius: 17px; 
color: #fff; 
margin-top: 16px; 
margin: 17px;
}  

button.btn.btn-default-perfil{ 
background-color: orange;  
width: 26%; 
color: #fff; 
font-size: 10px; 
font-size: 17px;
}
.navbar-default{ 
background-color: transparent; 
border-color: transparent; 
} 
.fondo { 
display: table-cell; 
vertical-align: middle;  
text-align: right;
 h3{  
 	text-align: center;
 	padding: 16px 113px;  
 	line-height: 1.3; 
 	color: #58C6E7;
 } 
 h4{  
 	text-align: center;
 	padding: 0px 126px 30px; 
 	line-height: 1.3; 
 	color: #9E9D9D;
 }
}  
   
   button.btn.btn-primary.btn-lg.hidden-xs{ 
   	background-color: #ff4016; 
   	border-color: #ff4016;  
    border-radius: -1%;
   }

@media screen and (max-width :480px){
  .fondo h3 {
    padding: 23px 0px;
  } 
  .fondo h4{ 
  	padding: 0px 0px 37px 
  }
} 
 
.flecha-home{ 
text-align: center; 
position: relative; 
bottom: -200px; 
 
} 
@media screen and (max-width :480px){
  header{ 
  	background-image: none; 
  }  
  #metodologia{ 
    h1.text-center{  
      padding: 0px;
      }  
      .row{ 
        padding-top: 0px; 
        padding-bottom: 57px; 
      }
    }
 }  


 img.hidden-lg.hidden-md{ 
 	width: 100%; 
 } 
 /*metodologia*/ 
 .frase{ 
 	color: #FF6A49; 
 }  
 h1.text-center{ 
 	padding: 58px 0px 48px 0px ; 
 	color: #58C6E7; 
 	letter-spacing: 1;  

 } 
 span.frase{ 
 	line-height: 2.4; 
 } 
 img.segunda-comilla{ 
 	position: relative; 
 	right: 250%; 
 	top: 63px; 
 } 
 img.pimera-comilla{ 
 	position: relative; 
 	left: 287px; 
 	top: 1px; 
 } 
 h3.text-center.mb-35.mt-0{ 
  color:#9E9D9D 
  ;}  
#metodologia{  
  .icono.hidden-xs.text-center{ 
    position: relative; 
    bottom: -38px; 
  } 
  img{ 
    border-radius: 50%; 
  } 
  h4{ 
    line-height: 1.5; 
  }
}
  /*metodoligia circulo*/ 
  .circulo { 
    margin: 0 auto; 
    width: 500px; 
    height: 500px; 
    border-radius: 50%; 
    background-color: #FF6A49;  
    padding: 4px;
  } 
  .acontinuo{ 
    padding: 0px 100px; 
  }
.circulo2{ 
border-radius: 50%; 
border: 2px dashed #fff;  
height: 490px; 
width: 490px;
} 
.circulo2 h4{  
padding: 125px 10px;  
line-height: 1.5; 
color: #fff; 
font-size: 20px;
}
hr.linea1.hidden-xs{ 
transform:rotate(428deg); 
float: right; 
height: 230px;  
top: 53px; 
position: relative;
}
.evaluacion{ 
padding-top: 233px; 
} 
hr.linea3{ 
transform:rotate(470deg); 
float: left; 
height: 230px;  
position: relative; 
top: 53px;
} 
.preferencia{ 
padding-top: 225px;  
position: relative; 
right: 40px;
}  
hr.linea2{ 
transform:rotate(449deg); 
width: 201px; 
}
.analisis{ 
padding-top: 87px; 
} 
 
#metodologia button.btn.btn-custom{ 
border-radius: 30px; 
padding: 15px 64px; 
background-color:#2bb7e1;  
color: #fff; 
border-color: #1da3cb; 
margin-bottom: 30px;
}
 /*acaba aqui metodologia*/   


 @media screen and (max-width :480px){
  .navbar-default{ 
  	background-color: aliceblue; 
  }   
   .circulo { 
    margin: 0 auto; 
    width: 0px; 
    height: 0px; 
    border-radius: 0px; 
    background-color: none;  
    padding: 0px;
  } 
  .acontinuo{ 
    padding: 0px 0px; 
  }
.circulo2{ 
border-radius: 0px; 
border: none;  
height: 0px; 
width: 0px;
} 
.circulo2 h4{  
padding: 0px;  
line-height: 0; 
color: none;
}
hr.linea1.hidden-xs{ 
transform:rotate(0); 
float: none; 
height: 0px;   
position: none; 
top: 0;
}
.evaluacion{ 
padding-top: 0px; 
} 
hr.linea3{ 
transform:rotate(0); 
float: none; 
height: 0px;  
position: none; 
top: 0px; 
margin-bottom: 30px; 
margin-top: 30px;
} 
.preferencia{ 
padding-top: 0px;  
position: none; 
right: 0px;
}  
hr.linea2{ 
transform:rotate(0); 
width: 94%;  
margin-top: 30px; 
margin-bottom: 30px;
}
.analisis{ 
padding-top: 0px; 
}  
h3.anaranjado{ 
  margin-top: 33px; 
  margin-bottom: 33px;
 }  
}

/*seccion postulacion */  
#postulacion{ 
  background-image: url(../img/img-02.png); 
  .icono{ 
    float: right; 
   position: relative; 
   top: 0px; 
   width: 30%; 
   left: 65px;  
   z-index: 10 ;
   border-radius:50%;
 } 
 .numero{ 
  float: left; 
  width:20%;  
  position: relative; 
  right: 32px;  
  bottom: 25px;

   } 
   .nro{ 
    vertical-align: middle;  
    } 
    hr{  
      border-top:2px dashed #eeeeee; 
      position: relative; 
      top: -54px; 
      width: 81%;
    } 
    .col-md-4.linealg{  
      border-left:2px dashed white;
    } 
    .texto{ 
     padding-left:61px ; 
      padding-bottom:104px ; 
      padding-top: 17px;
    } 
    h1{ 
      color: #fff; 
      text-align: center;  
      padding-top: 90px;
    } 
    h2{ 
      color: #fff; 
      text-align: center; 
      font-size:27px; 
      padding-bottom: 40px;  
    }  
    h3{ 
      color: #fff; 
    } 
    h5{ 
      line-height: 1.7;  
      color: #fff; 
      font-size: 18px;
      text-align: left;
    } 
    .perfil{ 
      top: -40px; 
    }
} 
.postulante{ 
  padding-top: 0 !important ; 
  padding-bottom: 0 !important;
}
 #postulacion button.btn.btn-custom{ 
border-radius: 30px; 
padding: 15px 64px; 
background-color:#2bb7e1;  
color: #fff; 
border-color: #fff; 
margin-bottom: 60px;
} 
#postulacion{  
  .icon.hidden-xs.text-center{ 
    position: relative; 
    bottom: -38px; 
  } 
  img{ 
    border-radius: 50%; 
  }
}
 @media screen and (max-width :480px){ 
  #postulacion{  
    .numero{  
      float: none; 
      position: initial; 
      width: 100%; 
      padding-bottom: 15px;
      }  
      .icono{ 
        float: none; 
        position: initial; 
      } 
      .col-md-4.linealg{  
        margin-top: 30px; 
        border-left: none;
      } 
      hr{ 
        top: -20px; 
      } 
      h3{ 
        margin-top: 0px; 
      } 
      .perfil{ 
        top: -20px; 
      } 
      h1{ 
        padding-top: 67px; 
        padding-bottom: 25px; 
      } 
      .texto{ 
        padding-bottom: 46px;  
        padding-top: 0px; 
        padding-left: 0px;
      } 
      h5{ 
        text-align: center; 
      }
    }
  }

 



/*aqui termina seccion postulacion*/ 

/*seccion empresa*/ 
#empresas{
  padding-top: 73px;
  padding-bottom: 80px;  
  background-color: #fff;
  hr{
    border: 1px dashed red;
  }
  .icono{
      bottom: -115px; 
      position: relative;
  } 
  img{ 
    border-radius: 50%; 
  }
}
.clases{
  text-align: center;
  padding: 43px 117px;
  img{
      border-radius: 50%;
  }
  .btn-danger {
  margin-top: 58px;  
}       
}     
h2.blanco{ 
padding-top: 24px; 
} 
.row.titulo{ 
padding: 31px 0px 30px 
}

  
button.btn.btn-danger{
  color: #fff; 
  background-color: #FF6A49;  
  padding: 15px 41px;
  border-radius: 30px;
} 


/*quinta parte */
#educacion{
  background-color:rgb(118, 255, 118);
  padding-top: 73px;
  padding-bottom: 80px;
  hr{
    border: 1px dashed #fff;
  }
  .icono {
    bottom: -119px; 
    position: relative;
  } 
  img{ 
  border-radius: 50%; 
   } 
   button.btn.btn-danger{ 
    background-color: #78ff76; 
    border-color: #fff; 
    border: solid;
} 
}

/*sexta parte*/


#oportunidades{
  background: url(../img/img-oportunidades-24.png) no-repeat center center scroll;
height: 100%;
width: 100%;
display: table;
background-size: cover;
}
.white{
  background-color: #fff;
  
}
#oportunidades{
  .container{
    padding: 85px;
  } 
  ul{ 
    padding-left: 137px; 
  }  
  button.btn.btn-danger{ 
    position: absolute; 
    top: 182; 
    right: 146px;  
    border-color: #FF6A49;  
    background-color: #fff; 
    border:2px solid #FF6A49; 
    border-radius: -1px; 
    padding: 9px 41px; 
    color: #FF6A49;

  } 
  li{ 
    line-height: 2.5;  
    font-size: 17px;
  } 
  h1 {  
    padding:68px 0px 17px;
  }  
  .todos{ 
    text-align: center;  
    padding: 38px
  }
  button.btn.btn-custom{  
    background-color: gray; 
    color: #fff;
  }  
  .icono.hidden-xs.text-center{ 
    position: relative; 
    bottom: -122px; 
  }  
  img{ 
    border-radius: 50%; 
  }
} 
 
/*aqui termina*/
/*section parte el blog*/ 
#blog{ 
h1.gray{ 
  padding: 92px 0px 102px; 
  } 
  img{ 
    border-radius: 50%; 
    position: relative; 
    bottom: 42px; 
  }   
  .parrafo{ 
    text-align: left; 
    position:relative;  
    padding: 43px; 
    bottom: 24px;   
    line-height: 1.7; 

  } 
  .col-md-4{ 
    margin-bottom: 61px; 
  } 
   button.btn.btn-custom{ 
  padding: 15px 41px; 
  border-radius: 24px  ;
  background-color:#2bb7e1; 
  color: #fff;  
  margin: 20px;
 } 
 .icono.hidden-xs.text-center{ 
    position: relative; 
    bottom: -78px; 
  }  
  img{ 
    border-radius: 50%; 
  } 
  h5{ 
    text-align: left; 
    position:relative;  
     
    bottom: 24px;   
    line-height: 1.7; 
    font-weight: 700; 
  } 
}
  

.caja{ 
  background-color: #eeeeee; 
 }
.caja:hover{ 
background-color: #fcf07e; 
  .parrafo{ 
  color: #fff; 
   } 
   h5{
    color:#FF6A49;
   } 

} 

/*aqui termina blog*/  
 

/*comienza seccion contacto*/   
#contacto{ 
background-color: whitesmoke; 
h1.gray{ 
padding: 93px 0px 50px 0px;
 }   
 button.btn.btn-default-ct{ 
  float: right; 
  width: 37%;  
  background-color: gray; 
  color: #fff;
  } 
  .info{ 
    padding-top:24px; 
    float: left; 
    letter-spacing:3;  
    padding-bottom: 40px;
     } 
} 
 
input#pwd{ 
height: 14%; 
}
      
 #footer ul { 
      list-style: none; 
    } 
 #footer li{ 
      float: left; 
      bottom: 20px; 
      position: relative; 
    } 
  .twiter{ 
    padding: 0px 5px 0px 5px; 
  }
#footer{  
  background-color: #989898;
img{ 
border-radius: 50%; 
 }  
 p{ 
  float: right; 
padding-right: 23px;  
color: #fff;
}
}

 
 /*aqui termina contacto*/ 




@media screen and (max-width :480px){
  .fondo h3{
    padding:23px 0;
  }
  .fondo h4{
     padding: 0 0 37px;
  }
  .fondo{
  padding-top: 85px;
  } 
  #home{
    background: none;
  } 
  .clases{
    padding: 0;
  } 
  .acontinuo{ 
    padding: 0; 
  } 
  .concepto2{ 
    padding-bottom:0px; 
  }
}

/*@media screen and (max-width :480px){
  #home{
    background: none;
  }
}
@media screen and (max-width :480px){
  .clases{
    padding: 0;
  }
} */

/*nosotros*/ 
#nosotros{ 
background: url(../iconos/img_nosotros-02.png) no-repeat center center  scroll;  
background-size: cover;  
height: 63%; 
position: relative;  
width:100%;  
background-color: rgba(44,62,80,0.6); 
.icono.hidden-xs.text-center{ 
    position: relative; 
    bottom: -218px;  
  }   
  .container.text-center{ 
    padding: 57px; 
  }    
  img{ 
    border-radius: 50%; 
  }
}  
  .row{ 
  padding-top: 48px;  
  padding-bottom: 28px;
  }
.frase2{ 
color: #fff;  
line-height: 1.7;
}
.foto{ 
    border-radius: 50%; 
    border: 1px solid; 
    display: inline-block; 
    padding: 4px; 
  }  
  
  .foto img{ 
    border-radius: 50%; 
  } 
  h1.gray{ 
    padding: 86px 0px 25px; 
  } 
  .parrafo{ 
  padding: 17px 44px;  
  font-weight: 700; 
  line-height: 1.7; 
  color: #9E9D9D; 
  font-size: 15px;
  }
 h4{ 
  color: grey; 
} 
hr.separador{ 
width: 80%; 
border: 2px dashed #9E9D9D; 
} 
.parrafo2{ 
  padding: 15px 61px;  
  font-weight: 700; 
  line-height: 1.7; 
  color: #9E9D9D; 
  font-size: 15px;
  } 
  h1.asesores.gray{ 
    padding: 37px 0px 20px; 
  } 
/*termina seccion asesores*/
/*seccion comite*/ 
h1.comite{ 
text-align: center; 
padding:58px 0px 20px; 
color: #9E9D9D;  
} 
#comite{ 
.icono.hidden-xs.text-center{ 
  position: relative; 
  bottom:-37px;   
  }  
  img{ 
    border-radius: 50%; 
  }
} 
/*termina seccion comite*/ 
 
 /*comienza seccion lema*/ 
 #lema{ 
  background-color: #FF6A49;  
  img{ 
    margin-top:62px ;  
    margin-bottom: 17px; 
    border-radius: 50%;
  } 
  hr{ 
    border: 2px dashed #fff; 
  } 
  h3{ 
    color: #fff; 
    padding: 20px; 
  }  
  .concepto2{  
  line-height: 1.7; 
  letter-spacing: 1.7;  
  padding-top: 20px; 
  padding-bottom: 140px;   
  color: #fff;
}
}  
 
/*blog 2 pagina principal*/  
 
#blog2{

 .usuario{ 
 padding-top: 10px; 
} 
 .farolito h4{ 
 line-height: 1.7; 
 }  
 .boy{ 
  padding:39px 0px ; 
  } 
  ul{ 
  list-style:none;  
  padding-right: 17px;
  } 
  li{ 
  border-bottom:1px solid gray; 
  width:86%;  
  padding-bottom:3px; 
  color: #9E9D9D;
  }  
  .listas{ 
  width:76%; 
  padding: 26px 0px; 
  background-color:#E0E0E0;
  } 
}
.articulo{  
  text-align:center;  
  background-color:#E0E0E0; 
  width:76%; 
  height:25% ;
  margin-top:65px;
}  
.parrafo-col3{ 
padding: 0px 15px; 
}   
.parrafo-col3{ 
  h4{ 
    line-height: 1.4; 
  } 
  h5{ 
    font-weight: 700;  
    line-height: 1.3;

  } 
}
 
.articulo{
img{  
  text-align:center; 
  position:relative;  
  bottom:34px; 
  border-radius:50%;  
  } 
} 
.boy{ 
img{  
  width: 100%;
  } 
}

 
 /*el poop de ingresar*/  
 .modal-dialog{ 
  z-index: 2000; 
} 

h1#myModalLabel{ 
  text-align: center;  
  color: #58C6E7;
}
 .modal-body{ 
  padding: 70px; 
} 
.form-control{ 
border: none; 
} 
.modal-header{ 
margin-top: 30px; 
border-bottom: none; 
}
button.btn.btn-primary{  
  background-color: skyblue;
  border-color: skyblue;
  width: 35%;
  height: 6%;
  border-radius: 30px;
}
.modal-footer{ 
border-top: none; 
}